#btn-login {
    /* Opcional: Estilo para que se vea como un botón elegante */
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: small;
    /*border-radius: 20px;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    /*position: absolute;*/
}

.cGoogle {
    padding: 5px ;
    text-align: right;
}

.cGoogle:hover {
    transition: all 0.3s ease;
    color: goldenrod !important;
}

/*
    @media(min-width: 384px){margin-top: 26%;}
    @media(min-width: 768px){margin-top: 12%;}
    @media(min-width: 992px){margin-top: 9%;}
*/

#btn-loginx:hover {
    background: rgb(12, 107, 196);
    transform: scale(1.05);
    color: white;
}


#btn-login1 {
    /* Opcional: Estilo para que se vea como un botón elegante */
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    position: absolute;
    font-size: small;
    
    /* 
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 12px 12px;
    background: rgba(255, 255, 255, 0.8);
    */}

    @media(min-width: 384px) {#btn-login1 
        {margin-top: 40%;
        padding: 6px;
    }}
    @media(min-width: 768px) {#btn-login1 
        {
            margin-top: -5px;
            padding: 7px;
        }}
    @media(min-width: 992px) {#btn-login1 {margin-top: 0%;}}


.btn_login {
    /* Opcional: Estilo para que se vea como un botón elegante */
    cursor: pointer;
    font-weight: 600;
    /*background: rgba(255, 255, 255, 0.8);*/
    transition: all 0.3s ease;

    @media(min-width: 384px){margin-top: 0%;}
    @media(min-width: 768px){margin-top: 0%;}
    @media(min-width: 992px){margin-top: 0%;}
}



/* 
Descontinuado

.top-row-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
}


*/