.material-symbols-outlined {
    display: flex;
    align-content: center;
    font-size: 24px;
    line-height: 1;
    color: black;
    text-align: center;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: var(--SangreDeCristo);
    color: goldenrod;
}

.perfil-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            max-width: 500px;
            margin: 40px auto;
            padding: 20px;
            background: white;
            border-radius: 15px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        }
        .form-group {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        label {
            font-weight: bold;
            margin-bottom: 5px;
            color: #bc0009;
            font-size: 14px;
        }
        input, select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 16px;
        }
        .btn-save {
            background-color: #bc0009;
            color: white;
            border: none;
            padding: 15px;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
        }
        .admin-lock {
            background: #fff3f3;
            border: 1px dashed red;
            padding: 10px;
            margin-top: 10px;
            display: none;
        }

        .cLogout {
            background: none; 
            border: 1px solid #ccc; 
            color: gray; 
            width: fit-content; 
            margin-top: 20px; 
            padding: 10px; 
            border-radius: 8px; 
            cursor: pointer;
        }

        .navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.icon-button {
    background: none;
    border: none;
    padding: 8px;
    font-size: 28px;
    transition: color 0.3s;
    text-decoration: none;
}

.logout-btn {
    color: #bc0009; /* Rojo sangre para la salida */
}

.logout-btn:hover {
    color: #000;
    transform: scale(1.1);
}


    .letra {
        font-size: x-large !important;
    }