.a321::before {
    @media (min-width: 384px){
        margin-left: 295px;
        margin-top: 4px;
    }
    @media (min-width: 768px){
        margin-left: 543px;
        margin-top: 15px;
    }
    @media (min-width: 992px){
        margin-left: 410px;
        margin-top: 8px;
    }
}

    .canto-content-wrapper.single-column-mode #canto-left-container {
        padding-left: 8%;
        padding-right: 0%;
    }

    /*.container {
}

/*
.container {
    @media (min-width: 384px){
        margin-left: 22px;
    }
    @media (min-width: 768px){
        margin-left: 0px;
    }
    @media (min-width: 992px){
        margin-left: 0px;
    }
}
*/