.container {margin-left: 8%;}

.r1::before {

    @media (min-width: 384px) {
        height: 161px;
        margin-left: 167px;
        margin-top: -9%;
    }
    @media (min-width: 768px) {
        font-size: 1.5rem;
        height: 260px;
        margin-left: 305px;
        margin-top: -8%;
    }
@media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 207px;
        margin-left: 231px;
        margin-top: -9%;
    }
}

.r2::before {

    @media (min-width: 384px) {
        height: 55px;
        margin-left: 252px;
        margin-top: -10%;
    }

    @media (min-width: 768px) {
        font-size: 1.5rem;
        height: 89px;
        margin-left: 453px;
        margin-top: -8%;
}

@media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 80px;
        margin-left: 340px;
        margin-top: -11%;
    }
}