.container {margin-left: 8%;}

.melisma::before {
    font-style: italic;
    color: red;
        @media (min-width: 384px) {
        font-size: 0.8rem;
        margin-top: 0%;
        left: 217px;
    }
    @media (min-width: 768px) {
        font-size: 1.3rem;
        margin-top: 0%;
        left: 415px;
    }
    @media (min-width: 992px) {
        font-size: 1rem;
        margin-top: -1%;
        left: 305px;
    }
}

.melisma1::before {
    font-style: italic;
    color: red;
    @media (min-width: 384px) {
        font-size: 0.9rem;
        left: 155px;
        top: 14px;
    }
    @media (min-width: 768px) {
        font-size: 1.3rem;
        left: 286px;
        top: 20px;
    }
    @media (min-width: 992px) {
        font-size: 1rem;
        margin-top: -1%;
        left: 215px;
    }
}