.container {margin-left: 8%;}

    .aleluya::before {
        font-family: 'Franklin Gothic Medium';
        font-weight: bold;
        color: gray;

        @media (min-width: 384px) {
        font-size: 0.9rem;
        left: 186px;
        top: 12px;
    }
        @media (min-width: 768px) {
            font-size: 1.6rem;
            left: 360px;
            top: 17px;
    }
        @media (min-width: 992px) {
            font-size: 1.4em;
            margin-top: -1%;
            left: 270px;
    }
}

.tc1::before {
@media (min-width: 992px) {
        font-size: 1.23rem;
        margin-top: 33px;
        left: -34px;
    }
}