.container {margin-left: 8%;}

.r1::before {

    @media (min-width: 384px) {
        height: 127px;
        margin-left: 240px;
        margin-top: 0%;
    }
    @media (min-width: 768px) {
        font-size: 1.5rem;
        height: 211px;
        margin-left: 456px;
        margin-top: 0%;
    }
    @media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 160px;
        margin-left: 335px;
        margin-top: 0%;
    }
}