.container {margin-left: 0%;}

.msm {
    @media (min-width: 384px) {
        margin-top: -17px;
    }
    @media (min-width: 992px) {
        margin-top: -17px;
    }
}

.ast {
    @media (min-width: 384px) {
        margin-left: 5px;
        top: -56px;
    }
    @media (min-width: 768px) {
        margin-left: 5px;
        top: -99px;
    }
    @media (min-width: 992px) {
        margin-left: 9px;
        top: -76px;
        
    }
}