.container {margin-left: 0%;}

.r1::before {

    @media (min-width: 384px) {
        height: 95px;
        margin-left: 262px;
        margin-top: -13%;
    }
    @media (min-width: 768px) {
        font-size: 1.5rem;
        height: 148px;
        margin-left: 497px;
        margin-top: -10%;
    }
    @media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 118px;
        margin-left: 379px;
        margin-top: -5%;
    }
}