        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 93px;margin-left: 187px;margin-top: -10%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 150px;margin-left: 350px;margin-top: -8%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 117px;margin-left: 263px;margin-top: -9%;}
        }
