.container {
        @media (min-width: 384px) {margin-left: 4%;}
        @media (min-width: 768px) {margin-left: 0%;}
        @media (min-width: 992px) {margin-left: 15%;}
    }

    .a321::before {
        @media (min-width: 384px) {margin-left: 205px;margin-top: 5px;}
        @media (min-width: 768px) {margin-left: 380px;margin-top: 13px;}
        @media (min-width: 992px) {margin-left: 285px;margin-top: 0px;}
                }

    .dbsize {
        @media (min-width: 384px) {
            max-width: 44%;
        }
        @media (min-width: 768px) {
            max-width: 50%;
        }
        @media (min-width: 992px) {
            max-width: 44%;
        }
    }
