.container {
    @media (min-width: 384px) {
        margin-left: 8%;
    }
    @media (min-width: 768px) {
        margin-left: 10%;
    }
    @media (min-width: 992px) {
        margin-left: 0%;
    }
}

.r1::before {
@media (min-width: 384px) {
    height: 28px;
    margin-left: 86%;
    margin-top: 0%;
}
@media (min-width: 768px) {
        height: 47px;
        margin-left: 88%;
        margin-top: 0%;
    }

@media (min-width: 992px) {
    font-size: large;
        height: 34px;
        margin-left: 410px;
    }
}


.container {margin-left: 0px;}

.full {
    width: max-content;
}

@media (min-width: 992px) {
    .main-wrapper {
        width: auto;
        padding: 0px 60px 0px 60px;
    }
}

/*
@media (min-width: 992px) {
    .top-row-controls {
        position: fixed;
        padding: 0px 121px 0px 0px;
    }
}
*/

.tc1::before {
    @media (min-width:384px){
        top: 47px;
    }
    @media (min-width:768px){
        top: 53px;
        font-size: 1.6rem;
    }
    @media (min-width:992px){
        top: 50px;
        font-size: 1.23rem;
    }
}

.tc2::before {
    @media (min-width: 384px) {
        font-size: 0.9rem;
        left: -17px;
        top: -163px;
    }
    @media (min-width: 768px) {
        font-size: 1.6rem;
        left: -39px;
        top: -270px;
    }

    @media (min-width: 992px) {
        top: -214px;
    }
}
