.container {
        @media (min-width: 384px) {margin-left: 0%;}
        @media (min-width: 768px) {margin-left: 0%;}
        @media (min-width: 992px) {margin-left: 0%;}
    }

.full {
    width: max-content;
}

@media (min-width: 992px) {
    .main-wrapper {
        width: auto;
        padding: 0px 60px 0px 60px;
    }
}

/*
@media (min-width: 992px) {
    .top-row-controls {
        position: fixed;
        padding: 0px 121px 0px 0px;
    }
}

*/