/*.container {margin-left: 8%;}
*/

.r1::before {
@media (min-width: 992px) {
    font-size: large;
        height: 34px;
        margin-left: 410px;
    }
}


.container {margin-left: 0px;}

.full {
    width: max-content;
}

@media (min-width: 992px) {
    .main-wrapper {
        width: auto;
        padding: 0px 60px 0px 60px;
    }
}

@media (min-width: 992px) {
    .top-row-controls {
        position: fixed;
        padding: 0px 121px 0px 0px;
    }
}


