.container {
        @media (min-width: 384px) {margin-left: 4%;}
        @media (min-width: 768px) {margin-left: 0%;}
        @media (min-width: 992px) {margin-left: 10%;}
    }

.letra {
@media (min-width: 992px) {
        font-size: 1.38em;
    }
}