.container {margin-left: 8%;}

.r1::before {

    @media (min-width: 384px) {
        height: 96px;
        margin-left: 272px;
        margin-top: -10%;
    }
    @media (min-width: 768px) {
        font-size: 1.5rem;
        height: 151px;
        margin-left: 492px;
        margin-top: -8%;
    }

    @media (min-width: 992px) {
            font-size: 1.3rem;
            font-weight: bold;
            height: 122px;
            margin-left: 360px;
            margin-top: -9%;
        }
    }