.container {margin-left: 5%;}

.r1::before {
    @media (min-width: 384px) {
        height: 202px;
        margin-left: 228PX;
        margin-top: -10%;
    }
    @media (min-width: 768px) {
        height: 326px;
        margin-left: 415PX;
        margin-top: -8%;
    }
@media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 255px;
        margin-left: 324px;
        margin-top: -9%;
    }
}