.container {
    @media (min-width: 384px){
        margin-left: 3%;
    }
    @media (min-width: 768px){
        margin-left: 0%;
    }
    @media (min-width: 992px){
    margin-left: 0%;
    }
}

.r1::before {
    @media (min-width: 384px) {
        height: 129px;
        margin-left: 238px;
        margin-top: -11%;
    }
    @media (min-width: 768px) {
        height: 216px;
        margin-left: 446px;
        margin-top: -9%;
    }
    @media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 173px;
        margin-left: 337px;
        margin-top: -6%;
    }
}