.container {margin-left: 10%;}

.r1::before {
    @media (min-width: 384px) {
        height: 127px;
        margin-left: 224px;
        margin-top: -10%;
    }
        @media (min-width: 384px) {
        height: 207px;
        margin-left: 410px;
        margin-top: -8%;
    }
    @media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 174px;
        margin-left: 320px;
        margin-top: -10%;
    }
}