.container {margin-left: 8%;}

.r1::before {
@media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 73px;
        margin-left: 363px;
        margin-top: -9%;
    }
}