.container {
        @media (min-width: 384px) {margin-left: 0%;}
        @media (min-width: 768px) {margin-left: 0%;}
        @media (min-width: 992px) {margin-left: 12%;}
    }

    .r1::before {
        @media (min-width: 384px) {
            height: 101px;
            margin-left: 238px;
            margin-top: -12%;
        }
        @media (min-width: 768px) {
            height: 155px;
            margin-left: 441px;
            margin-top: -8%;
        }
        @media (min-width: 992px) {
        font-size: 1.3rem;
        margin-left: 325px;
        margin-top: -11%;
    }
}