        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 129px;margin-left: 238px;margin-top: -11%;}
            .r2::before {height: 127px;margin-left: 200px;margin-top: -35px;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 216px;margin-left: 446px;margin-top: -9%;}
            .r2::before {height: 201px;margin-left: 358px;margin-top: -50px;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 131px;margin-left: 337px;margin-top: -50px;}
            .r2::before {height: 173px;margin-left: 274px;margin-top: -50px;}
        }
