.container {margin-left: 10%;}

.ast::before {
    @media (min-width: 992px) {
        margin-top: -8px;
        margin-left: 220px;
    }
}

/*  /* ESTE CAMBIO SE HA PUESTO EN EL CSS PRINCIPAL PARA TODOS LOS CANTOS  */ /*
.nCanto {
    text-align: justify;
}
    */