        @media (min-width: 384px) {
            .container {margin-left: 5%;}
            .r1::before {height: 129px;margin-left: 238px;margin-top: -11%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 216px;margin-left: 446px;margin-top: -9%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 173px;margin-left: 337px;margin-top: -6%;}
        }

        .a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10,.a11,.a12, .t0 { width: fit-content; }
            
        .a1{margin-top: -45px;margin-left: 95px;}
        .a2{margin-top: -47px;margin-left: 200px;}
        /*.a2{min-height: 21px;}*/
        .a3{margin-top: -45px;margin-left: 53px;}
        .a4{margin-top: -45px;margin-left: 59px;}
        .a5{margin-top: -45px;margin-left: 138px;}
        .a6{margin-top: -45px;margin-left: 195px;}
        .a7{margin-top: -45px;margin-left: 270px;}
        .a8{margin-top: -45px;margin-left: 325px;}
        .a9{margin-top: -45px;margin-left: 79px;}
        .a10{margin-top: -45px;margin-left: 182px;}
        .a11{margin-top: -45px;margin-left: 273px;}
        .a12{margin-top: -45px;margin-left: 306px;}

        .b1{margin-top: -20px;}

        .ast {top: -52px;margin-left: 167px;}
        .ast1 {top: -52px;margin-left: 163px;}
        .ast2 {top: -52px;margin-left: 67px;}
        
        /*.t0 {height: 0em;}*/
