        @media (min-width: 384px) {.container {margin-left: 0%;}}
        @media (min-width: 768px) {.container {margin-left: 0%;}}
        @media (min-width: 992px) {.container {margin-left: 8%;}}



.sub {
    margin-top: -45px;
    background-color: white;
    width: 84%;
}

.r1::before {
    @media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 26px;
        margin-left: 163px;
        margin-top: 6px;
    }
}

.r2::before {
    @media (min-width: 992px) {
        font-size: 1.3rem;
        font-weight: bold;
        height: 34px;
        margin-left: 352px;
        margin-top: 0%;
    }
}

.ajustar { width: max-content;}